#parking-specify #left {
  position: absolute;
  left: 0;
  width: 250px;
  bottom: 0;
  top: 0;
  padding: 20px;
}

#parking-specify #right {
  position: absolute;
  left: 230px;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 20px;
}

#parking-specify #right .panel {
  padding-bottom: 40px;
}

#parking-specify #right td, #parking-specify #right th {
  text-align: center;
}

#parking-specify #right .operate-bar {
  width: 120px;
}

#parking-specify #parkingSetSpecify select {
  background-color: transparent;
}

#parking-specify #parkingSetSpecify option {
  background-color: #1e262c;
}
