#indexPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
	.main{		
		animation:fadeIn 1.5s;
		width: 100%;
		position: relative;
		margin: 0 auto;
		z-index: 2;
		.logo{
			width: 200px;
			height: 50px;
			background-color: #666;
			margin: 0 auto;
			margin-top: -50px;
		}
		.form{
			width: 600px;
			border-radius:0;
			margin: 20px auto;
			padding: 40px 150px 25px 150px;
			background-color: rgba(255,255,255,0.5);
			.avatar{
				width: 128px;
				height: 128px;
				margin: 0 auto;				
				background-color: #ddd;
				margin-bottom: 30px;
				border-radius: 100%;
			}

		}
		.footer{
			padding: 30px;
			width: 600px;
			margin: 0 auto;
		}
	}
	.video{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		overflow: hidden;
		video{
			min-width: 100%;
			min-height: 100%;
		}
		.mask{
			background-color: rgba(0,0,0,0.5);
			height: 100%;
			width: 100%;
			position: absolute
		}
		.blank{
			animation:fadeIn 1.5s;
			background-color: rgba(255,255,255,0.6);
			width: 600px;
			height: 100%;
			margin: 0 auto;
		}
	}
}

@keyframes fadeIn
{
from {opacity: 0;}
to {opacity: 1;}
}