#nav .container {
  background-color: #1e262c;
}

#nav .container .menu li {
  background-color: #1e262c;
  color: #8a8f97;
}

#nav .container .menu li:hover {
  background-color: #3a434b;
}

#nav .container .menu li.active {
  background-color: #4b5158;
  color: #e4e5e6;
  border-left-color: #f56c2d;
}

#nav .container .menu li.active.expanded {
  background-color: #27343e;
}

#nav .container hr {
  border-color: #4b5158;
}

#nav .container .version {
  color: #e4e5e6;
}

#nav .container .icon {
  color: #f56c2d;
}

#header .container {
  background-color: #1e262c;
  border-bottom: 3px solid #f56c2d;
}

#header .container .enterprise-name {
  color: #e4e5e6;
}

#header .container .user {
  color: #e4e5e6;
}

#header .container .user:hover {
  background-color: #3a434b;
}

#header .container .user .sub-menu {
  background-color: #1e262c;
}
