
#parking-stat{

	#top{
		position: absolute;
		left: 0px;
		right: 0;
		top: 0;
		height:105px;
		padding: 20px;
		.panel{
			padding:20px;
			.form-inline{
				padding-right: 30px;
			}
		}
	}
	#bottom{	
		position: absolute;
		left: 0px;
		right: 0;
		bottom: 0;
		top: 85px;
		padding: 20px;
		.panel{
			padding-bottom:40px;
		}
		td,th{
			text-align: center;
		}
		.operate-bar{
			width: 120px;
		}
		$border-color:#ddd;
	}
	#showAllSet{
		.scroll1{
			max-height: 200px;
		}
	}
	#showAllVehicle{
		.scroll2{
			max-height: 200px;
		}
	}
}