
#parking-stat{
	position: absolute;
	left: 0px;
	right: 0;
	bottom: 0;
	top: 0;
	padding: 20px;
	.panel{
		padding-bottom:40px;
	}
	td,th{
		text-align: center;
	}
	.operate-bar{
		width: 120px;
	}
	$border-color:#ddd;
	#showAllSet{
		.scroll1{
			max-height: 200px;
		}
	}
	#showAllVehicle{
		.scroll2{
			max-height: 200px;
		}
	}
}