
#parking-specify{
	#left{
		position: absolute;
		left: 0;
		width: 250px;
		bottom: 0;
		top: 0;
		padding: 20px;
	}
	#right{
		position: absolute;
		left: 230px;
		right: 0;
		bottom: 0;
		top: 0;
		padding: 20px;
		.panel{
			padding-bottom:40px;
		}
		td,th{
			text-align: center;
		}
		.operate-bar{
			width: 120px;
		}
	}
	$border-color:#ddd;
	#parkingSetSpecify{
		select{
			background-color: transparent;
		}
		option{
			background-color: #1e262c;
		}
	}
}