<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="root">
		<div id="canvas" style="height: 600px;width: 1000px;"></div>
		<div id="leftPanel">
			<div class="addObject" v-if='state.addObject'>
				<button @click="selectModel('temp'),changeStat('modelHover')">立方体</button>
				<button @click="selectModel('red'),changeStat('modelHover')">长方体</button>
			</div>
		</div>
		<div id="bottomPanel">
			<div class="normal" v-if='state.normal'>
				<button @click="selectModel('temp'),changeStat('modelHover'),setMenuState('addObject')">添加物品</button>		
			</div>
			<div class="addObject" v-if='state.addObject'>		
				<button @click="changeStat('selectObject'),setMenuState('normal')">取消</button>
			</div>
			<div class="selected" v-if='state.selected'>
				<button @click="scene().state.fn.deleteObject(),setMenuState('normal')">删除</button>
				<button @click="scene().state.fn.modifyObject(),setMenuState('addObject')">移动</button>
			</div>
		</div>
		<button @click="changeStat('none')">none</button>
		<!-- size:<input type="text" v-model="scene.setting.user.brushSize.width">x<input type="text" v-model="scene.setting.user.brushSize.height"> -->
		<button @click="changeStat('floorHover')">floorHover</button>
	</div>
	<script src = "../../plugin/three.js/three.js"></script>
	<script src = "lib/OrbitControls.js"></script>
	<script src = "lib/CopyShader.js"></script>
	<script src = "lib/EffectComposer.js"></script>
	<script src = "lib/RenderPass.js"></script>
	<script src = "lib/ShaderPass.js"></script>
	<script src = "lib/OutlinePass.js"></script>
	<script src = "lib/FXAAShader.js"></script>
	<script src = "lib/OBJLoader.js"></script>
	<script src = "../../plugin/vue/dist/vue.js"></script>
	<script src = "../../plugin/jquery/dist/jquery.js"></script>
	<script src = "init.js"></script>
	<script src = "load.js"></script>

	<script>
		var root = new Vue({
			el:"#root",
			data:{
				state:{
					addObject:false,
					normal:true,
					selected:false
				}
			},
			methods:{
				changeStat(s){
					scene.state.changeStateTo(s);
				},
				selectModel(m){
					scene.model.cur.geo = scene.model[m].geo.clone();
					scene.model.cur.mat = scene.model[m].mat.clone();
					scene.model.cur.size = scene.model[m].size;			
					scene.model.cur.option = scene.model[m].option;
				},
				setMenuState(s){
					for(var i in this.state){
						this.state[i] = false;
					}
					this.state[s] = true;
				},
				scene(){
					return scene;
				}
			},
			created(){
			},
			mounted(){
			}
		});
		var scene = new Scene();
		scene.init();
	</script>

</body>
</html>