$header-height : 45px;
#header{
	width: 100%;
	.container{
		width: 100%;
  		z-index: 10;
		height: $header-height;
		position: absolute;
		left: 0;
		top: 0;
		.left{
			float: left;    
			margin-left: -10px;
			.logo{
				width: 210px;
				height: $header-height;
				display: inline-block;
				vertical-align: middle;
				background: url(/src/img/logo_white.png) no-repeat;
				background-size: 100% 95%;
			}
			
		}
		.right{
			float: right;
			div{
				display: inline-block;
				vertical-align: middle;		
				height: $header-height;
				line-height: $header-height *0.95;
				cursor: pointer;
				padding: 0 20px;
				font-size: 16px;		
			}
			.enterprise-name{
				display: inline-block;
				vertical-align: middle;
				padding: 0 5px;
			}
			.user{
				position: relative;
				transition: background-color 0.2s;
				&:hover {
					.sub-menu{
						height: 150px;
						bottom:auto;
					}
					.arrow{
						top: 5px;
					}
				}
				.avatar{
					padding: 0px;
					display: inline-block;
					vertical-align: top;
					line-height: $header-height *0.9;
					height: 36px;
					img{
						height: 36px;
						width: 36px;
					}
				}
				.arrow{
					font-size: 14px;
					position: relative;
					transition: top 0.2s;
					top: 0px;
				}
				.sub-menu{
					padding: 0;
					width: 200px;
					display: block;
					position: absolute;
					transition: height 0.2s;
					right: 0px;
					top:$header-height;
					z-index: 0;
					height: 0;
					overflow: hidden;
					cursor: auto;
					box-sizing: border-box;
					li{
						font-size: 14px;
						line-height: 14px;
						padding: 0 15px;
						margin-top:8px; 
						span{
							float: right;
						}
						.btn{
							background-color: transparent;
							border-color: inherit;
							height: 22px;
							line-height: 20px;
							padding: 0;
							&:hover{
								color: inherit;
							}
						}
					}
				}
			}
		}
	}
}