body{
	font-family:microsoft Yahei !important;
    width: 100vw;
    height: 100vh;
}
ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}

.indent1{
	text-indent: 1em;
}
.indent2{
	text-indent: 2em;
}

.plane{
	text-decoration: none;
}